/* 웹프로그래밍 10팀 */
:root {
  --default-theme-background-color: #233239;
  --default-theme-point-color: #71929d;
  --default-theme-line-color: #39474e;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace, Orbit, serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
input,
input:focus {
  border: 0;
  outline: none;
  text-align: center;
}
button {
  border: 0;
}
label.setting-btn:hover,
#to-next-btn:hover {
  cursor: pointer;
}
input::placeholder {
  color: gray;
}

#main-header {
  border: 1px solid var(--default-theme-line-color);
  border-bottom: none;
  border-radius: 10px 10px 0 0;

  padding: 5px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 14px;
  }
  h5 {
    font-size: 14px;
    font-weight: bold;
  }
}
#main-header .btn-container {
  display: flex;
  gap: 5px;

  .header-btn {
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 100%;
    color: brown;
  }
  .header-btn:first-child {
    background-color: rgb(255, 112, 112);
  }
  .header-btn:nth-child(2) {
    background-color: #fabf52;
  }
  .header-btn:last-child {
    background-color: rgb(107, 255, 139);
    color: gray;
  }
}

#content {
  width: 100%;
  height: calc(100% - 51px);
  background: #233239;
  border-left: 1px solid var(--default-theme-line-color);
  border-right: 1px solid var(--default-theme-line-color);

  position: relative;

  display: flex;
  justify-content: space-between;
}

#content #side-menu {
  padding: 15px;
  width: 300px; /* 사이드 메뉴 고정 너비 */
  border-right: 0.5px solid var(--default-theme-line-color);
}
#side-score-box{
  display: none;
}
#side-dif-box{
  display: none;
}
.side-title{
  color: #CDD8DD;
  padding: 10px 10px;
  font-size: 18px;
}
#side-score{
  padding: 15px;
  font-size: 30px;
  text-align: center;
}
.side-txt{
  padding-left: 10px;
}
#setting-title{
  display: flex;
  height: 30px;
  padding-left: 15px;
  padding-top: 5px;
  color: #56AFCE;
}
#setting-title p{
  font-size: 15px;
}
.sub-setting{
  display: flex;
  padding-left: 30px;
  padding-top: 5px;
  color: #ACBEC5;
}
.sub-setting p{
  font-size: 15px;
}



#content #code-container {
  width: 100%; /* 게임 시작시 너비 */
  display: flex;
}

#code-container #file-bar {
  width: 60px;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;

  .chevron-container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;

    .chevron {
      width: 15px;
      height: 15px;
    }
  }
}
#code-container #code-line-num {
  width: 60px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  color: #98a1ab;
  background-color: #1d2a30;
}

#game-area {
  height: 100%;
  width: calc(100% - 60.5px);
  display: flex;
  position: relative;
}
#user-setting {
  position: absolute;
  padding: 0 100px;

  /* position absolute일 때 부모 요소의 중앙에 위치 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 550px;
  height: 470px;
  border-radius: 20px;
  box-shadow: 0 0 15px 15px rgb(114, 146, 157, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .setting-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .player-name-container {
    gap: 3px;
  }

  span {
    color: #fff;
  }
  .player-name-title {
    width: 100%;
    text-align: left;
    font-size: 14px;
  }
  .setting-title {
    font-size: 21px;
  }

  input.setting-select-input {
    display: none;
  }
}

#user-setting #player-name {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
  color: var(--default-theme-line-color);
}
.setting-container .btn-container {
  display: flex;
  width: 100%;

  .setting-btn {
    font-size: 14px;
    width: 85px;
    height: 38px;
    border-radius: 10px;
    line-height: 38px;
    text-align: center;
    background: #fff;
  }
}
.theme-container .btn-container {
  justify-content: space-between;
}
.ball-shape-container .btn-container {
  justify-content: space-evenly;
}
#user-setting #to-next-btn {
  width: 70px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--default-theme-point-color);
  color: #fff;
}

/* Main Game Area */
#game-canvas {
  width: 100%;
  height: 100%;
}


footer {
  border: 1px solid var(--default-theme-line-color);
  border-radius: 0 0 10px 10px;

  width: 100%;
  background: #233239;
  padding: 5px 10px;
  font-size: 10px;
  line-height: 10px;
  color: var(--default-theme-point-color);

  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    gap: 20px;
  }
}
